<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Free Readers</title>
</head>
<body>

    <div class="container-fluid">
        <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-extendido" role="document">
                <div class="modal-content">
                    <form id="upload-form" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBookModalLabel">Administració de llibres</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="alert"></div>
                            <h2>Afegir llibre</h2>
                            <input type="file" name="book" id="file-input" class="form-control mt-3" accept=".epub">
                            <h2 class="mt-3">Llibres actuals</h2>
                            <table id="myTable1" class="w-100 mt-3">
                                <thead>
                                    <tr>
                                        <th>Titol</th>
                                        <th>Autor</th>
                                        <th>Acció</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                            <button type="submit" id="afegir" class="btn btn-success">Afegir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <h1 class="text-center mt-3">Free Readers</h1>

        
        <button type="button" class="btn btn-outline-dark mt-3 w-100" data-toggle="modal" data-target="#addBookModal">Administració</button>

        <h4 class="mt-4">Seleccioni el llibre que vol llegir</h4>
        <div id="table" class="border">
            <div class="pt-3 pb-3 pl-3 pr-3 w-100">
                <table id="myTable2">
                    <thead>
                        <tr>
                            <th>Titol</th>
                            <th>Autor</th>
                        </tr>
                    </thead>
                    <tbody>
            
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="llibre">Seleccioni el llibre</label>
            <select class="form-control" id="selectLlibres">
                <option value="0">Seleccioni un llibre</option>
            </select>
        </div>

        <div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content custom-modal-color">
                    <form id="delete-form" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h2>Està segur que vol eliminar el llibre?</h2>
                            <input type="hidden" name="id" id="id">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                            <button type="submit" id="eliminar" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script></body>
</html>