<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Free Readers</title>
</head>
<body>

    <div class="container-fluid">
        <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-extendido" role="document">
                <div class="modal-content">
                    <form id="addBookForm" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBookModalLabel">Afegir llibre</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" name="book" id="book" class="form-control" accept=".epub">
                            <h2>Llibres actuals</h2>
                            <table id="myTable1" class="w-100">
                                <thead>
                                    <tr>
                                        <th>Titol</th>
                                        <th>Accions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>El Quijote</td>
                                        <td><button>Eliminar</button></td>
                                    </tr>
                                    <tr>
                                        <td>El Señor de los Anillos</td>
                                        <td><button>Eliminar</button></td>
                                    </tr>
                                    <tr>
                                        <td>El Hobbit</td>
                                        <td><button>Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                            <button type="submit" id="afegir" class="btn btn-primary">Afegir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <h1 class="text-center mt-3">Free Readers</h1>

        
        <button type="button" class="btn btn-outline-dark mt-3 w-100" data-toggle="modal" data-target="#addBookModal">Administració</button>

        <h4 class="mt-4">Seleccioni el llibre que vol llegir</h4>
        <div id="table" class="border">
            <div class="pt-3 pb-3 pl-3 pr-3">
                <table id="myTable2">
                    <thead>
                        <tr>
                            <th>Titol</th>
                        </tr>
                    </thead>
                    <tbody>
            
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script>
        let table1 = new DataTable('#myTable1');
        let table2 = new DataTable('#myTable2');
    </script>

    <script src="/js/index.js"></script></body>
</html>